USE [master]
GO
/****** Object:  Database [users]    Script Date: 10/04/2022 18:27:34 ******/
CREATE DATABASE [users]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'users', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\users.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'users_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\users_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [users].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [users]
GO
/****** Object:  Table [dbo].[Table_users]    Script Date: 10/04/2022 18:27:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NULL,
	[Prénom] [varchar](50) NULL,
	[Date de naissance] [varchar](50) NULL,
	[Adresse] [varchar](50) NULL,
	[Code postale] [varchar](50) NULL,
	[Téléphone] [varchar](50) NULL,
 CONSTRAINT [PK_Table_users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
